div#products_conteiner{
   margin: auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;

   min-height: 550px;

   background-color: rgb(245, 245, 127);
}

div#loading{
   animation: rotating 1s infinite;

   margin: auto;
   width: 300px;
   height: 300px;

   border-radius: 50%;
   border: 10px solid gray;
   border-top-color:red;
}

@keyframes rotating {
   to {
      transform: rotate(1turn);
   }
}