article.product{
   max-width: 400px;
   margin: 25px;

   background-color: whitesmoke;
   border-radius: 10px 0px;

   padding: 10px;
   margin: 10px;
}

.product > *{
   margin-bottom: 10px;
}

.product > * :last-child{
   margin-bottom: 0;
}

h1.productTitle{
   font: 1.2em 'Courier New', Courier, monospace;
   text-align: left;
   color: #F25C05;
}

img.productImage{
   max-width: 380px;
   margin: auto;
}

p.productPrice::before{
   content: "$";
}

p.productPrice{
   background-color: #F28E13;
   padding: 5px 0;
   text-align: center;
   font: 1em Arial, Helvetica, sans-serif;
   color: #730202;
}

button.productPrice{
   background-color: #F21905;
}

div#buyButtonDiv{
   text-align: center;
}

button.addShoppingCartButton{
   text-align: center;
   background-color: #e9210f;
   padding: 7px;
   border: 2px solid #fa5e03;
   border-radius: 10px;
}

button.addShoppingCartButton:hover{
   background-color: #bd1b0c;
   cursor: pointer;
}