/* VARIAVEIS */

:root{
   --mirrorEffectBackground: rgb(15, 15, 15, 0.4);
   --sansSerifFont: Arial, Helvetica, sans-serif;
   --textColor: #fff;
}

/* CLASSES TO USE */

.mirrorEffect{
   backdrop-filter: blur(2px);
   background-color: var(--mirrorEffectBackground);
}

/* HEADER */
header#pageHeader{
   height: 100vh;
   background-image: url("../img/headerBackGroundTeste.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

div#supBar{
   min-height: 30px;
   max-width: 500px;
}

nav#headerNavMenu{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}

nav#headerNavMenu :hover {
   background-color: rgba(255, 255, 255, 0.2)
}

