:root{
  --WhiteGreen: #C7F9CC;
  --lightGreen: #80ED99;
  --green:#57CC99;
  --lightBlue: #38A3A5;
  --blue: #22577A;
}

html{
  height: 100%;
}

body{
  background-color: var(--WhiteGreen);
}

div#content{
  margin: auto;
  text-align: center;
}

h1{
  color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

canvas#snakeGameDisplay{
  border: 1px solid #6e6e6e;
  border-radius: 5px;
  background-color: var(--lightGreen);
}

